<aside>
    <div class="">
            <nav>
                <ul class="nav">
                    <li>
                        <a href="https://www.despegar.com.co/vuelos/" style="display: inline-block; ">Vuelos 
                            <i class="fa-solid fa-plane-departure" style="color: #7431f9; display: inline;" ></i>                                    
                        </a>                    
                    </li>
                    <li>
                        <a href="https://www.despegar.com.co/hoteles/" style="display: inline-block;" >Hoteles
                            <i class="fa-solid fa-hotel" style="color: #7431f9; display: inline"></i>                            
                        </a>
                    </li>
                    <li>
                        <a href="https://www.despegar.com.co/hoteles/" style="display: inline-block;" >Parques
                            <i class="fa-solid fa-parachute-box" style="color: #7431f9; display: inline"></i> 
                        </a>
                    </li>

                    <li>
                        <a href="https://www.despegar.com.co/seguro-de-viaje/" style="display: inline-block;" >Asistencia
                            <i class="fa-solid fa-truck-medical" style="color: #7431f9; display: inline"></i> 
                        </a>
                    </li>
                </ul>
            </nav>
    </div>
</aside>
